@import "../../atoms/headlines.scss";


.header {
  margin: 0 auto;
  text-align: center;
  width: $containerSize-540;
  background-color: $red-medium;
}
.header-headline {
  @extend %headlineHeader-52;
  line-height: 1.5em;
}