@import "../../variables.scss";

@mixin headings($fontSize, $fontWeight, $fontFamily: $headingFont, $fontColor: $standarFontColor) {
  color: $fontColor;
  display: block;
  line-height: $fontSize +4;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*setup extendable headline atoms*/
%headlineStandard-16 {
  @include headings($fontSize-16, bold, $standardFont);
}

%headlineStandardGrey-14 {
  @include headings($fontSize-14, bold, $standardFont);
}

%headlineHeader-52 {
  @include headings($fontSize-52, bold, $headingFont, $white-medium);
}