@import "../../../variables.scss";
%avatar {
  svg {
    width: 60px;
    height: 50px;
  }
}

.avatar-left {
  @extend %avatar;
  svg {
    fill: $red-medium;
  }
}

.avatar-right {
  @extend %avatar;
  svg {
    fill: $green-medium;
  }
}
