@import "variables.scss";

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  background-color: $white-medium;
  font-family: $standardFont;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.grid {
  margin: 0 auto;
  max-width: $containerSize-540;
  @media all and (min-width: $breakPoint-768) {
    max-width: $containerSize-720;
  }

  @media all and (min-width: $breakPoint-992) {
    max-width: $containerSize-960;
  }
  @media all and (min-width: $breakPoint-1200) {
    max-width: $containerSize-1140;
  }
}

.placeholder {
  background-color: $grey-medium;
  height: 200px;
  margin: 1em;
  width: 100%;
}