/* please only use variables for defining colors to keep consistency*/

/*----------------------------------------------*
 *                      Colors                  *
 *----------------------------------------------*/
$white-medium: #F6F0DB;
$red-medium: #954549;
$green-medium: #52594A;
$yellow-medium: #EED49B;
$grey-medium: #5B5F5E;

/*mount semantic variables to colors*/
$pimary: $red-medium;
$positive: $green-medium;
$warn: $red-medium;

/*---------------------------------------------*
 *                      Fonts                  *
 *---------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=New+Rocker');

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* font family variables */
$headingFont: 'New Rocker', cursive;
$standardFont: "system";

/* font size variables. */
$fontSize-52: 52px;
$fontSize-16: 16px;
$fontSize-14: 14px;
$baseFontSize: $fontSize-14;
$standarFontColor: $grey-medium;

/*--------------------------------------------*
 *                      Grid                  *
 *--------------------------------------------*/
$breakPoint-576: 576px;
$breakPoint-768: 768px;
$breakPoint-992: 992px;
$breakPoint-1200: 1200px;
$containerSize-540: 540px;
$containerSize-720: 720px;
$containerSize-960: 960px;
$containerSize-1140: 1140px;
